@page "{proveedorId:guid}"
@model Web.Pages.Proveedor.DetalleProveedorModel

<h1>Detalle Proveedor</h1>

<div class="container">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    @Html.DisplayFor(m => m.proveedor.Nombre_PROVEEDOR)
                    <small class="text-muted">(@Html.DisplayFor(m => m.proveedor.Correo_ELECTRONICO))</small>
                </h5>

                <div class="card-text">
                    <div>
                        <b>@Html.DisplayNameFor(m => m.proveedor.Telefono):</b>
                        @Html.DisplayFor(m => m.proveedor.Telefono)
                    </div>
                    <div>
                        <b>@Html.DisplayNameFor(m => m.proveedor.TIPO):</b>
                        @Html.DisplayFor(m => m.proveedor.TIPO)
                    </div>
                    <div>
                        <b>@Html.DisplayNameFor(m => m.proveedor.Nombre_Contacto):</b>
                        @Html.DisplayFor(m => m.proveedor.Nombre_Contacto)
                    </div>
                    <div>
                        <b>@Html.DisplayNameFor(m => m.proveedor.Direccion):</b>
                        @Html.DisplayFor(m => m.proveedor.Direccion)
                    </div>
                </div>

                <p class="card-text mt-2">
                    <small class="text-muted">
                        ID: @Html.DisplayFor(m => m.proveedor.PROVEEDOR_ID)
                    </small>
                </p>
            </div>
        </div>
    </div>

    <a class="btn btn-secondary mt-3" asp-page="./Index">Regresar</a>
    <a class="btn btn-info mt-3"
       asp-page="./Editar"
       asp-route-proveedorId="@Model.proveedor.PROVEEDOR_ID">
        Editar
    </a>
</div>
